<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/shared-style.css">
    <link rel="stylesheet" href="/styles/preview-style.css">
    <link rel="stylesheet" href="/styles/<%= cv.chosenLayout %>.css">
    <title><%= cv.profile.lastName %>-<%= cv.profile.firstName %>-CV</title>
</head>
<body class="<%= cv.chosenLayout %>">
    <% if (req.query.updated === 'true') { %>
    <div id="success-message" style="background-color: #d4edda; color: #155724; padding: 10px; margin: 10px 0; border-radius: 5px; text-align: center;">
        ✅ CV updated successfully!
    </div>
    <% } %>
    <div id="actions">
        <p class="button" id="save" onclick="window.print()"><%= t.save_pdf %></p>
        <p class="button" id="edit-cv"><a href="create-cv?edit=<%= cv.id || cv.profile.lastName %>"><%= t.edit_cv %></a></p>
        <p class="button" id="learn-more"><a href="faqs#how-to-print" target="_blank"><%= t.how_to_print %></a></p>
    </div>
    <!-- Profile Section -->
    <header class="profile">
		<div class="profile-info">
			<div class="flex">
			<h1 class="name">
				<span class="last-name"><%= cv.profile.lastName || '' %></span>
				<span class="first-name"><%= cv.profile.firstName %></span>
			</h1>
			<p class="birth">
				<span class="day"><%= cv.profile.birthday.day %></span>/
				<span class="month"><%= cv.profile.birthday.month %></span>/
				<span class="year"><%= cv.profile.birthday.year %></span>
			</p>
		</div>
		<h2 class="job-title"><%= cv.profile.jobTitle || '' %></h2>
		<p class="professional-summary">
			<%= cv.profile.professionalSummary %>
		</p>
		</div>
		<% if (cv.profile.photo) { %>
			<div class="image">
			<img class="photo" src="<%= cv.profile.photo || '' %>" alt="Photo of <%= cv.profile.firstName || '' %>" />
			</div>
		<% } %>
	</header>

	<!-- CONTACT -->
	<section class="contact">
		<div class="personal-contact">
		<% if (cv.profile.email) { %>
			<a class="email" href="mailto:<%= cv.profile.email %>">
			<img class="icons" src="/images/icons/envelope.png" alt="Email Icon" />
			<span><%= cv.profile.email %></span>
			</a><br>
		<% } %>
		<% if (cv.profile.address) { %>
			<a class="address" href="#">
			<img class="icons" src="/images/icons/location.png" alt="Address Icon" />
			<span class="address-text"><%= cv.profile.address %></span>
			</a><br>
		<% } %>
		<% if (cv.profile.phone) { %>
			<a class="phone" href="tel:+<%= cv.profile.phone %>">
			<img class="icons" src="/images/icons/phone.png" alt="Phone Icon" />
			<span class="phone-text"><%= cv.profile.phone %></span>
			</a><br>
		<% } %>
		</div>

		<% if (cv.profile.links && cv.profile.links.length) { %>
		<div class="links">
			<% cv.profile.links.forEach(link => { %>
			<% if (link.toLowerCase().includes('github.com')) { %>
				<a class="link" href="<%= link %>" target="_blank">
				<img class="icons" src="/images/icons/github.png" alt="GitHub Icon" />
				<span class="link-text"><%= link %></span>
				</a>
				<br>
			<% } else if (link.toLowerCase().includes('linkedin.com')) { %>
				<a class="link" href="<%= link %>" target="_blank">
				<img class="icons" src="/images/icons/linkedin.png" alt="LinkedIn Icon" />
				<span class="link-text"><%= link %></span>
				</a>
				<br>
			<% } else if(link.toLowerCase().includes("gitlab.com")) { %>
				<a class="link" href="<%= link %>" target="_blank">
				<img class="icons" src="/images/icons/gitlab.png" alt="Gitlab Icon" />
				<span class="link-text"><%= link %></span>
				</a>
				<br>
			<% } else { %>
				<a class="link" href="<%= link %>" target="_blank">
				<span class="link-text"><%= link %></span>
				</a>
				<br>
			<% } %>
			<% }) %>
		</div>
		<% } %>      
	</section>

	<main>
		<div class="left-column">
			<!-- TECHNOLOGIES -->
			<section class="technologies">
			<h2><%= t.skills_title %></h2>
			<div class="technologies-list">
				<% cv.technologySkills.forEach(skill => { %>
				<div class="technologies-section">
					<p class="skill"><%= skill.skill %></p>
					<% if (skill.details && skill.details.length) { %>
					<ul class="details">
						<% skill.details.forEach(d => { %>
						<li><%= d %></li>
						<% }) %>
					</ul>
					<% } %>
				</div>
				<% }) %>
			</div>
			</section>

			<!-- SOFT SKILLS -->
			<% if (cv.softSkills && cv.softSkills.length) { %>
			<section class="soft-skills">
				<h2><%= t.soft_skills_title %></h2>
				<ul class="soft-skills-list">
				<% cv.softSkills.forEach(s => { %>
					<li><%= s %></li>
				<% }) %>
				</ul>
			</section>
			<% } %>

			<!-- EDUCATION -->
			<section class="education">
			<h2><%= t.education_title %></h2>
			<div class="education-list">
				<% cv.education.forEach(edu => { %>
				<div class="education-section">
					<h3 class="education-diploma"><%= edu.diploma %></h3>
					<p class="education-organization"><%= edu.organisation %></p>
					<div class="flex year-location">
					<p class="education-year"><%= edu.year %></p>
					<p class="education-location"><%= edu.location || '' %></p>
					</div>
				</div>
				<% }) %>
			</div>
			</section>

			<!-- LANGUAGES -->
			<% if (cv.languages && cv.languages.length) { %>
			<section class="languages">
				<h2><%= t.languages_title %></h2>
				<div class="languages-list">
				<% cv.languages.forEach(lang => { %>
					<div class="language-section">
					<div class="flex">
						<p class="language-name"><%= lang.language %></p>
						<p class="language-level"><%= lang.level %></p>
					</div>
					<% if (lang.certification) { %>
						<p><%= t.certificate_label %> <%= lang.certification %></p>
					<% } %>
					<% if (lang.experience) { %>
						<p><%= t.experience_label %> <%= lang.experience %></p>
					<% } %>
					<hr class="language-section-hr" />
					</div>
				<% }) %>
				</div>
			</section>
			<% } %>

			<!-- INTERESTS -->
			<% if (cv.interests && cv.interests.length) { %>
			<section class="interests">
				<h2><%= t.interests_title %></h2>
				<ul class="interests-list">
				<% cv.interests.forEach(i => { %>
					<li><%= i %></li>
				<% }) %>
				</ul>
			</section>
			<% } %>
		</div>

		<div class="right-column">
			<!-- EXPERIENCES -->
			<section class="experience">
			<h2><%= t.experience_title %></h2>
			<div class="experience-list">
				<% cv.experiences.forEach(exp => { %>
				<div class="experience-section">
					<h3 class="experience-type"><%= exp.type %></h3>
					<h3 class="experience-title"><%= exp.title %></h3>
					<p class="experience-organization"><%= exp.organisation %></p>
					<div class="year-duration">
					<p class="year"><%= exp.year %></p>
					<p class="duration"><%= exp.duration %> <%= exp.duration == 1 ? t.month : t.months %></p>
					</div>
					<% if (exp.description) { %>
					<div class="experience-description">
						<p><%- exp.description.replace(/\n/g, '<br>') %></p>
					</div>
					<% } %>
					<% if (exp.technologies && exp.technologies.length) { %>
					<ul class="experience-technologies">
						<% exp.technologies.forEach(t => { %>
						<li><%= t %></li>
						<% }) %>
					</ul>
					<% } %>
				</div>
				<% }) %>
			</div>
			</section>

			<% if (cv.projects && cv.projects.length > 0) { %>
			<section class="projects">
				<h2><%= t.projects_title %></h2>
				<div class="project-list">
					<% cv.projects.forEach(project => { %>
					<div class="project-section">
						<h3 class="project-title"><%= project.title %></h3>
						<% if (project.duration) { %>
						<div class="project-duration">
							<p class="duration"><%= project.duration %> <%= project.duration == 1 ? t.month : t.months %></p>
						</div>
						<% } %>
						<% if (project.description) { %>
						<div class="project-description">
							<p><%= project.description %></p>
						</div>
						<% } %>
						<% if (project.technologies && project.technologies.length) { %>
						<ul class="project-technologies">
							<% project.technologies.forEach(t => { %>
							<li><%= t %></li>
							<% }) %>
						</ul>
						<% } %>
						<% if (project.links && project.links.length) { %>
							<div class="links">
								<% project.links.forEach(link => { %>
								<% if (link) { %>
								<a class="link" href="<%= link %>" target="_blank">
									<span class="link-text"><%= link %></span>
								</a>
								<br>
								<% } %>
								<% }) %>
							</div>
						<% } %>
					</div>
					<% }) %>
				</div>
				</section>
			<% } %>

		</div>
	</main>
</body>
</html>